{% extends 'base.html' %} 
{% block title %} 
Productos 
{% endblock %} 

{% block content %}

<header class="usuarios-header">
  <div>
    <h2>Gestión de productos</h2>
    <p>Administra el catálogo de productos</p>
  </div>
</header>
<section class="usuarios-container2">
  <div class="usuarios-header">
    <div>
      <h2>Productos Registrados</h2>
      <p>Lista de productos registrados en el sistema</p>
    </div>
    <div style="display: flex; gap: 15px; align-items: center;">
      <a href="{% url 'crear_productos' %}" class="btn-nuevo">
        <span></span> Nuevo producto
      </a>
      <input type="text" class="buscar" placeholder="Buscar productos por nombre o ID" />
    </div>
  </div>
  <table border="1" cellpadding="10">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
        <th>Activo</th>
        <th>Fecha de creacion</th>
        <th>Fecha de actualizacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for i in productos %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.nombre }}</td>
        <td>{{ i.descripcion }}</td>
        <td>{{ i.precio }}</td>
        <td>{{ i.stock }}</td>
        <td>{{ i.categoria }}</td>
        <td>{{ i.activo }}</td>
        <td>{{ i.fecha_creacion }}</td>
        <td>{{ i.fecha_actualizacion }}</td>
        <td class="td-actions">
          <a href="{% url 'actualizar_productos' i.id %}" class="btn-nuevo btn-sm">Editar</a>
          <form action="{% url 'eliminar_productos' i.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-logout btn-sm">Eliminar</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="10">No hay productos</td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
</section>
{% endblock %}


