{% extends 'base.html' %}
{% block title %} Usuarios {% endblock %}
{% block content %}

<header class="usuarios-header">
  <h1>Gestión de usuarios</h1>
  <p>Administra los usuarios del sistema</p>
</header>

<!-- CONTENEDOR DEL LISTADO -->
<section class="usuarios-container2">
  <div class="usuarios-header">
    <div>
      <h2>Lista de usuarios</h2>
      <p>Usuarios registrados en el sistema</p>
    </div>
<div style="display: flex; gap: 15px; align-items: center;">
    <a href="{% url 'crear_usuarios' %}" class="btn-nuevo">
      <span></span> Nuevo Usuario
    </a>
    <input type="text" class="buscar" placeholder="Buscar productos por nombre o ID" />
  </div>

  <!-- TARJETAS DE USUARIOS -->
  <table border="1" cellpadding="10">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cargo</th>
        <th>Telefono</th>
        <th>Activo</th>
        <th>Fecha de inicio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.cargo }}</td>
        <td>{{ user.telefono }}</td>
        <td>{{ user.activo }}</td>
        <td>{{ user.fecha_inicio }}</td>
        <td class="td-actions">
          <a href="{% url 'editar_usuarios' user.id %}" class="btn-nuevo btn-sm">Editar</a>

          <form action="{% url 'eliminar_usuario' user.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-logout btn-sm">Eliminar</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8">No hay usuarios</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}