{% extends 'base.html' %}

{% block title %} Facturación - Clientes {% endblock %}

{% block content %}

<header class="facturacion-header">
    <h1>Gestión de facturación</h1>
    <a href="{% url 'dashboard' %}"><i class="bg-secondary"></i></a>
</header>

<div class="menu-horizontal">
    <a href="{% url 'factura-list' %}">Facturas</a>
    <a href="{% url 'clientes' %}" class="active">Clientes</a>
    <a href="{% url 'productos_facturacion' %}">Productos</a>
</div>


<section class="facturacion-container2">
    <div class="facturacion-header">
        <div>
            <h2>Clientes Registrados</h2>
            <p>Listado de clientes y su historial de facturación</p>
        </div>
    </div>

    {% for cliente in clientes %}
    <div class="tarjetas-facturacion">
        <div class="facturacion-info">
            <strong>{{ cliente.nombre }}</strong>
            <div class="extra">
                <span>Correo: {{ cliente.correo }}</span>
                <span>Última Compra: {{ cliente.get_ultima_fecha|date:"Y-m-d" }}</span>
                <span>Total Facturado: ${{ cliente.get_total_gastado }}</span>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="tarjetas-facturacion">
        <div class="facturacion-info">
            <p>No hay clientes registrados en el sistema.</p>
        </div>
    </div>
    {% endfor %}

</section>

{% endblock %}