{% extends 'base.html' %}

{% block title %} Historial {% endblock %}

{% block content %} 

 <header class="inventario-header">
    <h1>Gestión de inventario</h1>
</header>
<div class="menu-horizontal">
    <a href="{% url 'inv_control' %}">Control de stock</a>
    <a href="{% url 'inventario' %}">Catalogo de ventas</a>
    <a href="{% url 'inv_historial' %}">Historial de movimientos</a>
</div>
<section class="inventario-container2">
    <div class="inv-header">
        <div>
            <h2>Catalogo de Stock</h2>
            <p>revisa el estado de tu inventario</p>
        </div>
        <div class="total" style="display:flex;align-items:center;gap:10px;">
            <input
                type="text"
                class="buscar"
                placeholder="Buscar productos por nombre o ID"/>
        </div>
    </div>
{% for producto in producto %}

<div class="tarjetas-inv {% if producto.stock < 10 %}border border-danger border-3 bg-danger-subtle{% endif %}">
    <div class="inv-info">
        <strong>{{ producto.nombre }}</strong>
        <div class="extra">
            <span>Cantidad: {{ producto.stock }} Unidades.</span>
        </div>
    </div>
</div>

{% endfor %}

</section>
{% endblock %}