{% extends 'base.html' %}

{% block title %} Historial {% endblock %}

{% block content %} 

    <header class="inventario-header">
        <h1>Gestión de inventario</h1>
    </header>

    <div class="menu-horizontal">
        <a href="{% url 'inv_control' %}" class="{% if request.resolver_match.url_name == 'inv_control' %}active{% endif %}">Control de stock</a>
        <a href="{% url 'inventario' %}" class="{% if request.resolver_match.url_name == 'inventario' %}active{% endif %}">Catalogo de ventas</a>
        <a href="{% url 'inv_historial' %}" class="{% if request.resolver_match.url_name == 'inv_historial' %}active{% endif %}">Historial de movimientos</a>
    </div>

    <section class="inventario-container2">
        <div class="inv-header">
            <div>
                <h2>Historial De Movimientos</h2>
                <p>Registro De Entradas y Salidas</p>
            </div>
        </div>

        <div class="movimientos">
            <div class="movimientos-col">

                <div class="columna">
                    <h3>Últimas Entradas</h3>

                    <div class="tarjeta-mov">
                        <div class="mov-info">
                            <strong>Neumatico Trasero - Cross 21</strong>
                            <p>Cantidad: 50 unidades</p>
                            <p>Precio unitario: $90,000</p>
                        </div>
                        <div class="vl2">+$4,500,000</div>
                    </div>

                    <div class="tarjeta-mov">
                        <div class="mov-info">
                            <strong>Kit de arrastre</strong>
                            <p>Cantidad: 15 unidades</p>
                            <p>Precio unitario: $180,000</p>
                        </div>
                        <div class="vl2">+$2,700,000</div>
                    </div>
                </div> <div class="columna">
                    <h3>Últimas Salidas</h3>

                    <div class="tarjeta-mov">
                        <div class="mov-info">
                            <strong>Líquido de frenos</strong>
                            <p>Motul — Cantidad: 2</p>
                            <p>Precio unitario: $48,000</p>
                        </div>
                        <div class="vl2">-$96,000</div>
                    </div>

                    <div class="tarjeta-mov">
                        <div class="mov-info">
                            <strong>Filtro de Aire</strong>
                            <p>Motul — Cantidad: 4</p>
                            <p>Precio unitario: $22,000</p>
                        </div>
                        <div class="vl2">-$88,000</div>
                    </div>

                    <div class="tarjeta-mov">
                        <div class="mov-info">
                            <strong>Kit Luces LED</strong>
                            <p>Philips — Cantidad: 1</p>
                            <p>Precio unitario: $85,000</p>
                        </div>
                        <div class="vl2">-$85,000</div>
                    </div>
                </div> </div> </div> </section>

{% endblock %}