{% extends 'base.html' %}

{% block title %} Historial {% endblock %}

{% block content %} 

 <header class="inventario-header">
    <h1>Gestión de inventario</h1>
</header>
<div class="menu-horizontal">
    <a href="{% url 'inv_control' %}" class="{% if request.resolver_match.url_name == 'inv_control' %}active{% endif %}">Control de stock</a>
    <a href="{% url 'inventario' %}" class="{% if request.resolver_match.url_name == 'inventario' %}active{% endif %}">Catalogo de ventas</a>
    <a href="{% url 'inv_historial' %}" class="{% if request.resolver_match.url_name == 'inv_historial' %}active{% endif %}">Historial de movimientos</a>
</div>
<section class="inventario-container2">
    <div class="usuarios-header">
        <div>
            <h2>Catalogo de Stock</h2>
            <p>revisa el estado de tu inventario</p>
        </div>
        <input
            type="text"
            class="buscar"
            placeholder="Buscar productos por nombre o ID"/>
    </div>
{% for producto in producto %}

<div class="tarjetas-inv {% if producto.stock < 10 %}border border-danger border-3 bg-danger-subtle{% endif %}">
    <div class="inv-info">
        <strong>{{ producto.nombre }}</strong>
        <div class="extra">
            <span>Cantidad: {{ producto.stock }} Unidades.</span>
        </div>
    </div>
</div>

{% endfor %}

</section>
{% endblock %}