{% extends 'base.html' %}

{% block title %} inventario {% endblock %}

{% block content %}

<header class="inventario-header">
    <h1>Gestión de inventario</h1>
</header>
<div class="menu-horizontal">
    <a href="{% url 'inv_control' %}">Control de stock</a>
    <a href="{% url 'inventario' %}">Catalogo de ventas</a>
    <a href="{% url 'inv_historial' %}">Historial de movimientos</a>
</div>
<section class="inventario-container2">
    <div class="usuarios-header">
        <div>
            <h2>Catalogo de ventas</h2>
            <p>selecciona productos</p>
        </div>
        <div style="display: flex; gap: 15px; align-items: center;">
            <button
                id="btnCarrito"
                class="btn btn-primary"
                data-bs-toggle="offcanvas"
                data-bs-target="#carritoPanel">
                <i class="bi bi-cart3"></i>
            </button>
            <input
                type="text"
                class="buscar"
                placeholder="Buscar productos por nombre o ID"/>
        </div>
    </div>
    {% for producto in producto %}
    <div class="tarjetas-inv">
        <div class="inv-info">
            <strong>{{ producto.nombre }}</strong>
            <div class="extra">
                <span>Cantidad: {{ producto.stock }} Unidades.</span>
                <span>Precio Unitario:</span>
                <span class="vl1">
                    ${{ producto.precio }}
                </span>
                <button
                    class="agregar btn btn-dark btn-sm"
                    data-id="{{ producto.id }}"
                    data-title="{{ producto.nombre }}"
                    data-price="{{ producto.precio }}"
                    data-stock="{{ producto.stock }}">
                    Agregar al carrito
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<div class="offcanvas offcanvas-end" tabindex="-1" id="carritoPanel">
    <div class="offcanvas-header">
        <h5>Carrito</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas">
        </button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div id="listaCarrito" class="flex-grow-1 overflow-auto"></div>
        <div class="d-flex align-items-center gap-2">
            <input
                type="text"
                id="descuento"
                class="form-control form-control-sm"
                placeholder="CodDescuento">
            <button
                class="btn btn-dark btn-sm"
                id="btn-des">
                Aplicar
            </button>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div>
                <h6 id="pre" class="mb-0">
                    PreTotal: $0
                </h6>
                <h6 id="des" class="mb-0">
                    Descuento: 0%
                </h6>
                <h5 id="total" class="mb-0">
                    Total: $0
                </h5>
            </div>
            <button class="btn btn-dark btn-sm px-3">
                Pagar
            </button>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 end-0 p-3">
    <div
        id="toastAdd"
        class="toast align-items-center text-bg-success border-0">
        <div class="d-flex">
            <div class="toast-body">
                Producto agregado al carrito
            </div>
            <button
                type="button"
                class="btn-close btn-close-white me-2"
                data-bs-dismiss="toast">
            </button>
        </div>
    </div>
</div>
<div class="modal fade" id="modalAviso" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Confirmación
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                 ¿Seguro que quieres eliminar este producto del carrito?
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Cancelar
                </button>
                <button
                    class="btn btn-danger"
                    id="btnEliminar">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
const listaCarrito = document.getElementById('listaCarrito');
const totalTexto = document.getElementById('total');
const descuento = document.getElementById('descuento');
const btndes = document.getElementById('btn-des');
const descu = document.getElementById('des');
const pret = document.getElementById('pre');
const codi = {
    Yamaha : 20,
    Motul : 30,
    CRC: 50
};
let carrito = JSON.parse(localStorage.getItem("carrito")) || [];
let porcentajeAplicado = 0;
let productoAEliminar = null;
function guardarCarrito(){
    localStorage.setItem("carrito", JSON.stringify(carrito));
}
document.querySelectorAll('.agregar').forEach(btn => {
    btn.addEventListener('click', () => {
        const producto = {
            id: parseInt(btn.dataset.id),
            title: btn.dataset.title,
            price: parseFloat(btn.dataset.price),
            stock: parseInt(btn.dataset.stock),
            cantidad: 1
        };
        agregarAlCarrito(producto);
    });
});
function agregarAlCarrito(producto){
    const existe = carrito.find(
        p => p.id === producto.id
    );
    if(existe){
        if(existe.cantidad < existe.stock){
            existe.cantidad++;
        }
    }else{
        carrito.push(producto);
    }
    guardarCarrito();
    mostrarToast();
    renderCarrito();
}
function renderCarrito(){
    listaCarrito.innerHTML = "";
    let total = 0;
    carrito.forEach(producto => {
        total += producto.price * producto.cantidad;
        const div = document.createElement('div');
        div.className = "mb-3";
        div.innerHTML = `
        <div class="card h-100 text-center p-2">
            <strong>${producto.title}</strong>
            <h6>
                Stock disponible:
                ${producto.stock}
            </h6>
            $${producto.price} x ${producto.cantidad}
            <div class="mt-2">
                <button class="btn btn-sm btn-success">
                    +
                </button>
                <button class="btn btn-sm btn-info">
                    -
                </button>
                <button
                    class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#modalAviso">
                    eliminar todos
                </button>
            </div>
        </div>
        `;
        const botones = div.querySelectorAll("button");
        botones[0].addEventListener("click", () => {
            if(producto.cantidad < producto.stock){
                producto.cantidad++;
                guardarCarrito();
                renderCarrito();
            }
        });
        botones[1].addEventListener("click", () => {
            producto.cantidad--;
            if(producto.cantidad <= 0){
                carrito = carrito.filter(
                    p => p.id !== producto.id
                );
            }
            guardarCarrito();
            renderCarrito();
        });
        botones[2].addEventListener("click", () => {
            productoAEliminar = producto;
        });
        listaCarrito.appendChild(div);
    });
    let des = total * (porcentajeAplicado / 100);
    let final = total - des;
    pret.innerText =
        "PreTotal: $" + total.toFixed(2);
    descu.innerText =
        `Descuento: ${porcentajeAplicado}% (-$${des.toFixed(2)})`;
    totalTexto.innerText =
        "Total: $" + final.toFixed(2);
    guardarCarrito();
}
document.getElementById("btnEliminar")
.addEventListener("click", () => {
    if(productoAEliminar){
        carrito = carrito.filter(
            p => p.id !== productoAEliminar.id
        );
        guardarCarrito();
        renderCarrito();
        productoAEliminar = null;
    }
    bootstrap.Modal
        .getInstance(
            document.getElementById("modalAviso")
        )
        .hide();
});
btndes.addEventListener("click", () => {
    const codigo = descuento.value.trim();
    if(codi[codigo]){
        porcentajeAplicado = codi[codigo];
    }else{
        porcentajeAplicado = 0;
    }
    renderCarrito();
});
function mostrarToast(){
    const toast =
        new bootstrap.Toast(
            document.getElementById('toastAdd')
        );
    toast.show();
}
renderCarrito();
</script>
{% endblock %}